.footer{
    margin: 0 auto;
    max-width: 880px;
    padding: 60px 0 60px 0;
}

.footer__text{ 
    color: #545454;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 823px){
    .footer{
        margin: 0 auto;
        align-items: flex-start;
        max-width: 600px; 
    }
}

 @media screen and (max-width: 695px){
    .footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        max-width: 300px;
    } 
}  

@media screen and (max-width: 345px){
    .footer{
        padding-bottom: 0;  
    }
    .footer__text{ 
        margin-bottom: 36px; 
    }
}