.header{
    margin: 45px auto;
    border-bottom: 1px solid rgba(84,84,84,0.7);
    max-width: 880px;  
   }
   
   .header__logo{
       width: 173px;
       min-height: 33px;
       margin-bottom: 41px;
       flex-shrink: 0;
   }
@media screen and (max-width: 724px){
    .header{
        margin: 0; 
    }
    .header__logo{
       width: 173px; 
       height: 33px;
       padding-left: 27px; 
       padding-top: 28px; 
       margin-bottom: 32px;  
    } 
   }  

@media screen and (max-width: 594px){
    .header{
        margin: 0; 
    }
    .header__logo{
       width: 126px; 
       height: 24px;
       padding-left: 27px; 
       padding-top: 28px; 
       margin-bottom: 32px;  
    } 
   }  
  