* {
    box-sizing: border-box;
}

.page{
    padding: 0 50px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    background-color:black;
    color: #fff;
    width: 100%;
    max-width: 1280px;
}

@media screen and (max-width: 345px){
    .page{
        padding: 19px;
    }
}