.profile{
    padding: 55px 0 45px; 
    display: flex;
    flex-direction: row; 
    max-width: 880px;
    margin: 0 auto; 
 }
 
 .profile__image{
     max-width: 120px;
     max-height: 120px;
     border-radius: 50%;
     flex-shrink: 0;   
     background-repeat: no-repeat;
 }
 
 .profile__info{
     /* padding: 35px 0 0 35px; */
     padding: 3px 0 0 24px; 
     display: grid; 
     grid-template-areas: 
     'title button'
     'description description';
     /* flex-wrap: wrap; */
     align-items: center;
     align-content: space-around;
     max-width: 455px; 
 }
 
 .profile__title{
     font-size: 42px;
     font-family: 'Inter', Arial, sans-serif;;
     font-weight: 500;
     line-height: 48px;
     margin: 0 auto;    
     grid-area: title;
     padding-right: 18px;
 }
 
 .profile__edit-button{
     background-image: url(../images/Edit\ Button.svg); 
     background-position: center;
     border: 1px solid #fff;
     width: 24px; 
     min-height: 24px; 
     background-color: transparent;
     grid-area: button;
     margin: 0 auto;  
 }
 
  .profile__edit-button:hover{
     opacity: 0.6; 
 } 
 
 .profile__description{
     font-size: 18px;
     font-family: 'Inter',Arial, sans-serif;;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     grid-area: description; 
     margin: 0; 
 }
 
 .profile__add-button{
     background-image: url(../images/Add\ Button.svg);
     background-position: center; 
     background-repeat: no-repeat;
     background-color: transparent; 
     border: 2px solid #fff;
     max-width: 150px;
     height: 50px;
     flex-shrink: 1;
     /* margin: 55px 0 0 auto; */
     margin: 24px 0 0 auto;
     width: 100%; 
     
 }
 
 .profile__add-button:hover{
     opacity: 0.6; 
 }

 @media screen and (max-width: 823px){
    .profile__info{
        /* max-width: 400px;  */
        max-width: 425px;
        padding-left: 15px; 
    }
    .profile__title{
        /* max-width: 300px;  */
        max-width: 373px; 
        width: 100%;
        margin: 0 auto; 
        font-size: 32px; 
        white-space: nowrap;
        /* text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; */
    }
    .profile__edit-button{
        margin: auto; 
    }
    .profile__add-button{
        /* margin: 55px 0 0 auto; */
        margin: 24px 0 0 auto; 
    }
 }

   @media screen and (max-width: 725px) and (min-width: 695px){

    .profile__title{
        /* max-width: 250px; 
        width: 100%; */
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    /* .profile__edit-button{
        margin: 0 auto; 
    } */
    .profile__add-button{
        margin: 55px 0 0 auto;
    } 
}  

   @media screen and (max-width: 695px){
    .profile{
        flex-direction: column;
        align-items: center; 
        max-width: 400px;
    }

    .profile__info{
        align-items: center;
        max-width: 283px; 
        margin: 0 auto; 
        width: 100%; 
        padding-left: 25px; 
    }

    .profile__title{
        font-size: 22px;
        max-width: 196px; 
    }

    .profile__edit-button{
        margin: 0 auto; 
    }

    .profile__description{ 
        font-size: 14px;
        margin: 0 auto;  
    }

    .profile__add-button{
        width: 100%;  
        max-width: 282px; 
        min-height: 60px;
        background-repeat: no-repeat;
        margin: 36px auto 0;      
    }
}  

@media screen and (max-width: 345px){
    .profile{
        flex-direction: column; 
        align-items: center; 
        max-width: 230px; 
    }
    
    .profile__info{
        padding: 0; 
        margin: 0 auto;
    }
} 