.cards{
    margin: 0 auto; 
}

.cards__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    max-width: 880px;
    grid-gap: 17px;
    margin: 0 auto;
    justify-content: center;
    list-style-type: none;
    padding:0;
}