.profile{
    display: flex;
    flex-direction: row;
    max-width: 880px;
    margin: 40px auto;
    align-items: center; 
 }
 
 .profile__image{
     object-fit: contain;
     object-position: 50% 50%;
     border-radius: 50%;
     flex-shrink: 0;
     background-repeat: no-repeat;
 }
 
 .profile__info{
     padding-left: 24px;
     display: grid;
     grid-template-areas:
     'title button'
     'description description';
     align-items: center;
     align-content: space-around;
     max-width: 455px;
 }
 
 .profile__name{
     font-size: 42px;
     font-family: 'Inter', Arial, sans-serif;
     font-weight: 500;
     line-height: 48px;
     margin: 0;
     grid-area: title;
     padding-right: 18px;
     text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;
 }
 
 .profile__edit-button{
     background-image: url(../images/pencil_icon.svg);
     background-position: center;
     background-repeat: no-repeat;
     background-color: transparent;
     border: 1px solid #fff;
     width: 24px;
     height: 24px;
     grid-area: button;
     margin: 0 auto;
     background-size: 10px;
     transition: 0.5s ease-in; 
 }
 
  .profile__edit-button:hover{
     opacity: 0.6;
     cursor: pointer; 
 }
 
 .profile__description{
     font-size: 18px;
     font-family: 'Inter',Arial, sans-serif;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     grid-area: description;
     margin: 0;
     text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;
     max-width: 415px;
 }
 
 .profile__add-button{
     background-image: url(../images/add-button.svg);
     background-position: center;
     background-repeat: no-repeat;
     background-color: transparent;
     background-size: 22px;
     border: 2px solid #fff;
     max-width: 150px;
     height: 50px;
     flex-shrink: 1;
     margin: 24px 0 0 auto;
     width: 100%;
     border-radius: 2px;
     margin-top: 0;
     margin-left: auto;
     margin-right: 0;
     transition: 0.5s ease-in;
 }
 
 .profile__add-button:hover{
     opacity: 0.6;
     cursor: pointer;
 }

@media screen and (max-width: 724px){
    .profile{
        max-width: 550px;
    }
    .profile__name{
        font-size: 32px;
        max-width: 200px;
    }
}

@media screen and (max-width: 594px){

    .profile{
        max-width: 450px;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    .profile__info{
        padding-top: 27px;
        padding-left: 0;
    }
    .profile__name{
        font-size: 22px;
        padding-right: 10px;
        line-height: 27px;
    }
    .profile__description{
        font-size: 14px;
        margin-top: 14px;
        text-align: center;
        max-width: 300px;
    }
    .profile__edit-button{
        height: 18px;
        width: 18px;
        background-size: 7.5px;
    }
    .profile__add-button{
        margin: 36px auto;
        max-width: 282px;
        background-size: 16px;
    }
}

    
