@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css); 
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/cards.css);
@import url(../blocks/footer.css);


/* @media screen and (max-width: 817px){
        
        .profile__info{
            max-width: 400px; 
        }
        .profile__info-name{
            max-width: 300px; 
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .profile__edit-button{
            margin: 0 auto; 
        }
        .profile__add-button{
            margin: 55px 0 0 auto;
        }
        .footer{
            margin: 0 auto; 
            align-items: flex-start;
            max-width: 600px; 
        }
} */

/* @media screen and (max-width: 757px){

    .profile__info-name{
        max-width: 250px; 
        width: 100%;
    }
    .profile__edit-button{
        margin: 0 auto; 
    }
    .profile__add-button{
        margin: 55px 0 0 auto;
    }
} */

/* @media screen and (max-width: 695px){

    .header{
        margin: 0; 
    }
    
    .header__logo{
        margin-left: 27px;
        margin-top: 60px; 
        max-width: 126px; 
        margin: 27px auto;
    }
    
    .profile{
        flex-direction: column;
        align-items: center; 
        max-width: 400px;
    }

    .profile__info{
        align-items: center;
        max-width: 283px; 
        margin: 0 auto; 
        width: 100%; 
        padding-left: 25px; 
    }

    .profile__info-name{
        font-size: 22px;
        max-width: 196px; 
    }

    .profile__edit-button{
        margin: 0 auto; 
    }

    .profile__subtext{ 
        font-size: 14px;
        margin: 0 auto;  
    }

    .profile__add-button{
        width: 100%;  
        max-width: 282px; 
        min-height: 60px;
        background-repeat: no-repeat;
        margin: 36px auto 0;      
    }

     .footer{
        display: flex; 
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
    } 

}   

@media screen and (max-width: 345px){
    
    .header{
        margin: 0; 
    }
    
    .page{
        padding: 19px; 
    }

    .profile{
        flex-direction: column; 
        align-items: center; 
        max-width: 230px; 
    }
    
    .profile__info{
        padding: 0; 
        margin-top: 25px;
    }
    .footer{
        padding-bottom: 0;  
    }
    .footer__text{ 
        margin-bottom: 36px; 
    }

} */


